# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Blaze=false
    B:CaveSpider=true
    B:Creeper=false
    B:ElderGuardian=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:LavaSlime=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spider=true
    B:Stray=true
    B:Vex=false
    B:VindicationIllager=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:bear=false
    B:bear_tamed=false
    B:betteranimalsplus.badger=false
    B:betteranimalsplus.blackbear=false
    B:betteranimalsplus.boar=false
    B:betteranimalsplus.brownbear=false
    B:betteranimalsplus.coyote=false
    B:betteranimalsplus.feralwolf=false
    B:betteranimalsplus.hirschgeist=false
    B:betteranimalsplus.lamprey=false
    B:betteranimalsplus.shark=false
    B:betteranimalsplus.tarantula=true
    B:betteranimalsplus.zotzpyre=false
    B:bossskeleton=true
    B:bosszombie=true
    B:bwm_jungle_spider=true
    B:demoman=false
    B:engineer=false
    B:entity_sheared_creeper=false
    B:heavy=false
    B:hhh=false
    B:hostilebat=false
    B:iyagniton=false
    B:iyagnitonchild=false
    B:iyamanjak=false
    B:iyblackcat=false
    B:iyblubber=false
    B:iyblueslime=false
    B:iybrute=false
    B:iydividecreeper=false
    B:iydividecreeperbottom=false
    B:iydividecreeperhead=false
    B:iydivider=false
    B:iydividerarm=false
    B:iydividerhead=false
    B:iyexploder=false
    B:iyfireman=false
    B:iyghost=false
    B:iygraviton=false
    B:iygremlin=false
    B:iyhaster=false
    B:iyinfector=false
    B:iykunekune=false
    B:iyleaper=false
    B:iylurker=false
    B:iymesher=false
    B:iymoloch=false
    B:iymothgirl=false
    B:iynapalmcreeper=false
    B:iynethercreeper=false
    B:iypack=false
    B:iyprecariouscreeper=false
    B:iypregnant=false
    B:iypuker=false
    B:iyrafflesiagirl=false
    B:iyshade=false
    B:iyskeletonsoldier=false
    B:iyslasher=false
    B:iyslimegirl=false
    B:iysonicboomcreeper=false
    B:iyspitter=false
    B:iystonecreeper=false
    B:iystonestatue=false
    B:iysuperbrute=false
    B:iysuperexploder=true
    B:iysuperinfector=false
    B:iysuperleaper=true
    B:iysuperlurker=false
    B:iysuperpregnant=false
    B:iysuperpuker=false
    B:iysuperslasher=true
    B:iysuperspitter=false
    B:iysuperwheezer=false
    B:iyswarmer=false
    B:iyteleporter=false
    B:iywheezer=false
    B:iywillowisp=false
    B:medic=false
    B:merasmus=false
    B:monoculus=false
    B:piranha=false
    B:pyro=false
    B:rat=false
    B:scout=false
    B:sniper=false
    B:soldier=false
    B:spy=false
    B:wasp=false
    B:wild_dog=false
}


